* {
    --main-background: #AEC3B0;
    --notepad-yellow: #fadb6f;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background-color: var(--main-background);
}

p {
    text-align: center;
}

button:hover {
    opacity: 0.8;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}

#books-section {
    grid-column: 1 / 2;

}

#form-section {
    grid-column: 2 / 3;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

#form-section > button {
    height: clamp(25px, 50px, 75px);
    width: clamp(100px, 150px, 200px);

    border: 2px solid black;
    border-radius: 10px;

    font-size: 24px;
    padding: 8px;

    background-color: white;
    color: black;
}



#extra-space-section {
    grid-column: 3 / 4;
}