* {
    --main-background: #AEC3B0;
    --notepad-yellow: #fadb6f;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* 
    Hides arrow on pages input 
    Reference: https://www.w3schools.com/howto/howto_css_hide_arrow_number.asp
*/
/* Works for: Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Works for: Firefox */
input[type=number] {
  appearance: textfield;
}

body {
    background-color: var(--main-background);
}

p {
    text-align: center;
}
button {
    background-color: white;
    color: black;
    border: 2px solid black;
    border-radius: 10px;
}

button:hover {
    opacity: 0.8;
}

.form-container {
    display: none;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#grid {
    width: 100vw;
    height: 75vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    justify-items: center;
}

#books-section {
    grid-column: 1 / 2;

}

form {
    border-top: 20px solid black;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    background-color: var(--notepad-yellow);
    font-size: 20px;
    height: clamp(250px, 300px, 350px);
}

input {
    background-color: var(--notepad-yellow);
    border: none;
    border-bottom: 1px solid skyblue;
}

button {
    font-weight: 600;
}

/* Does not work :( */
input[type=checkbox]{
    background-color: var(--notepad-yellow);
}

legend {
    margin: 16px 8px;
}

#books-section {
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 300px));
    grid-template-rows: repeat(auto-fill, minmax(150px, 250px));
}

.book-item {

    font-size: 12px;
    outline: 1px solid black;
    height: clamp(150px, 200px, 250px);
    width: clamp(75px, 125px, 150px);

    border-left: 5px solid #A8A48C;
    border-radius: 5px;
    background-color: #FAF4D3;

    justify-self: center;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.book-item p {
    word-break: break-all;
    white-space: normal;
}

.book-item button {
    margin: 8px auto;
    display: flex;
    justify-self: center;

}

#form-section {
    grid-column: 2 / 3;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 48px 0px;
}

#form-section > button {
    height: clamp(25px, 50px, 75px);
    width: clamp(100px, 150px, 200px);

    font-size: 24px;
    margin: 8px;
    padding: 8px;
}

.form-control-buttons,
.form-item {
    margin: 24px 8px;
}

#book-isRead {
    border-bottom: 0px solid var(--notepad-yellow);
}

#form-control-buttons {

    height: 36px;
    display: flex;
    justify-content: space-around;
}

#form-control-buttons button {
    font-size: 14px;

    height: 30px;
}

#extra-space-section {
    grid-column: 3 / 4;
}